.welcome {
    display: flex;
    flex-direction: column;
    background-color: rgb(151, 103, 15);
    flex-grow: 1;
    text-align: center;
    
    color: rgb(247, 247, 247);
    font-size:100%!important;
    text-shadow: 4px 4px 8px #e60b0b!important;
}